* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  margin-top: 4%;
  width: 100%;
}

input {
  width: 300px;
  height: 30px;
  padding-left: 10px;
  margin-right: 10px;
}

button {
  width: 60px;
  height: 34px;
}

ul {
  margin: auto;
  margin-top: 5%;
  text-align: center;
  list-style-type: decimal;
  width: 70%;
}

li {
  margin-top: 1%;
}